<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="jumbotron">
<h1>About</h1>

<p>This website has been created by Naman Sharma. It is random password generator. If you don't achieve your favorable password then keep refreshing the page. This website was created using Django.</p>
<a href="{% url 'home' %}" class="btn btn-success">Home</a>
</div>